* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  outline: none;
}
:root {
  --color-white: #fffcfc;
  --color-light: #2847ad;
  --color-primary: #00bcd4;
  --color-dark: #1451c1;
  --color-border: #faf7f7;
  --color-bg: #1f1f1f;
}
html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./assets/img/grass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}
.profile .card{
	background-color: #1f1f1f;
	border-radius:10px;
}

.profile .card .card-header .profile_img {
	
	width: 150px;
	height: 150px;
	object-fit: cover;
	margin: 10px auto;
	border: 8px solid #5aa8d9;
	border-radius: 50%;
}

.profile .card h3 {
	font-size: 20px;
	font-weight: 70px;
}

.profile .card p{
	font-size: 16px;
	color: #000;
}

.profile .table th,
.profile .table td {
	font-size: 14px;
	padding: 5px 10px;
	color: #000;
}
section{
	
	padding: 4em;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  color: var(--color-white);
  line-height: 62px;
}
h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 47px;
  color: var(--color-white);
}
h4 {
  font-size: 20px;
  color: var(--color-white);
  line-height: 31px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: var(--color-bg);
}
p {
  color: var(--color-white);
  font-size: 16px;
  line-height: 24px;
}
.btn {
  display: inline-block;
  width: moz-fit-content;
  border: 1px solid var(--color-white);
  padding: 12px 30px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.4s ease;
  color: var(--color-white);
}
.btn:hover {
  background: #00bcd4;
  color: var(--color-white);
  border-color: transparent;
}
.btn-primary {
  background: #00bcd4;
  border-color: transparent;
}
.container {
  max-width: 1360px;
  width: 90%;
  margin: 0 auto;
}
/* ....................Start Nav Bar...................... */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: #00bcd4;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: right;
  z-index: 99;
  display: block;
  list-style-type: disc;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: right;
  height: 100%;
}
.logo {
  /* Your existing logo styles */
  color: rgb(251, 249, 249);
  /*user-select: none;*/
  font-size: 20px;
  line-height: 50px;
  padding: 0 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.nav-container ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-container ul li a {
  color: var(--color-white);
  font-size: 17px;
  font-weight: 400;
  transition: 0.4s ease;
}
.nav-container ul li a:hover {
  color: var(--color-white);
}
span {
  color: var(--color-white);
}
/* ....................End Nav Bar...................... */

/* ....................Start Header Section...................... */
header {
  padding-top: 140px;
  padding-left: 50px;
}
header h1 {
  font-size: 72px;
  line-height: 94px;
}
.header-container {
  display: grid;
  grid-template-columns: 56% 44%;
  align-items: center;
}
img {
  width: 100%;
  display: block;
}
.header-container p {
  margin: 1.5rem 0 1rem;
  width: 90%;
}
.header-container h5 {
  margin: 1.5rem 0;
  color: var(--color-white);
}
.header-action-aria {
  display: flex;
  gap: 10px;
  align-items: center;
}
small {
  font-size: 16px;
}
/* ....................End Header Section...................... */

/* ....................Start About Section...................... */
#About {
  padding-top: 90px;
}
section > h1 {
  text-align: center;
}
.about-container p {
  width: 62%;
  margin: 40px auto;
}
.about-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.about-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  gap: 5px;
  text-align: center;
}
.about-article img {
  width: 60px;
}
/* ....................End About Section...................... */

/* ....................Start Services Section...................... */
#Services {
  padding-top: 120px;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-top: 100px;
}
.services-article {
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  border-bottom: 4px solid transparent;
  transition: 0.4s ease;
}
.services-article:hover {
  border-color: var(--color-primary);
}
.services-article img {
  width: 40px;
}
/* ....................End Services Section...................... */

/* ....................Start Contact Section...................... */
#Contact {
  padding-top: 100px;
  color: #ffffff;
}
.contatact-container {
  margin-top: 80px;
}
form {
  display: grid;
  width: 30%;
  margin: 0 auto;
}
.form-top {
  display: inline-flexbox;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
form input {
  padding: 10px 0;
  background: transparent;
  margin-bottom: 30px;
  color: var(--color-light);
  border: none;
  box-shadow: 0 1px 0 0 var(--color-border);
  transition: 0.4s ease;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  width: 100%;
}
form input:focus {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
  box-shadow: none;
}
.form-bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.form-bottom textarea {
  width: 100%;
  padding: 10px;
  height: 100px;
  background: transparent;
  resize: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-top: 17px;
  border: 1px solid var(--color-border);
  color: var(--color-primary);
}
.form-bottom textarea:focus {
  border-color: var(--color-primary);
}
/* ....................End Contact Section...................... */

/* ....................Start footer Section...................... */
footer {
  margin-top: 160px;
  margin-bottom: 40px;
  text-align: center;
  color: var(--color-white);
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
/* ....................End footer Section...................... */

/* ....................Extra Class...................... */
.naWinScroll {
  background: #00bcd4;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
}
.menubutton {
  display: none;
}

/* ....................Start Media Scrin...................... */
/* MAX-WIDTH:1024px */
@media (max-width: 1024px) {
  h1 {
    font-size: 42px !important;
    line-height: 56px !important;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  h4 {
    font-size: 18px;
    line-height: 26px;
  }
  h5 {
    font-size: 17px;
    line-height: 21px;
  }
  /*...... Start NavBar........ */
  .nav-container {
    position: relative;
    width: 100%;
  }
  .nav-container ul {
    position: absolute;
    right: 0;
    top: 5rem;
    flex-direction: column;
    gap: 0;
    width: 18rem;
    text-align: center;
    display: none;
    perspective: 400px;
  }
  .ulblock {
    display: block !important;
  }
  .nav-container ul li {
    width: 100%;
    height: 100%;
    opacity: 0;
    transform-origin: top;
    animation: forwards 300ms ease navAni;
  }
  .nav-container ul li:nth-child(2) {
    animation-delay: 200ms;
  }
  .nav-container ul li:nth-child(3) {
    animation-delay: 400ms;
  }
  @keyframes navAni {
    0% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  .nav-container ul li a {
    padding: 2.5rem 6rem;
    display: block;
    background: #00bcd4;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
    font-size: 16px;
  }
  .nav-container ul li a:hover {
    background: #00bcd4;
    color: var(--color-white);
  }
  .nav-container .logo h2 {
    margin-left: 2rem;
    font-size: 32px;
    line-height: normal;
  }
  .menubutton {
    display: block;
    background: transparent;
    border: none;
    margin-right: 2rem;
  }
  .menubutton img {
    width: 1.7rem;
  }
  /* ............Start Header.......... */
  .header-container p {
    width: 94%;
    margin: 1rem 0.5rem;
  }
  .header-container h5 {
    margin: 1rem 0;
  }
  /* ............Start About.......... */
  .about-container p {
    width: 100%;
  }
  .about-content {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  /* ............Start Services.......... */
  #Services {
    padding-top: 80px;
  }
  .services-container {
    margin-top: 80px;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  /* ............Start Skills.......... */
  #Skills {
    padding-top: 100px;
  }
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
  }
  /* ............Start Contact.......... */
  .contatact-container {
    margin-top: 60px;
  }
  form {
    width: 90%;
  }
}
/* MAX-WIDTH:600px */
@media (max-width: 600px) {
  /*.........Header Start......... */
  header {
    padding-top: 170px;
  }
  .header-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .header-right {
    grid-row: 1;
    margin: 0 auto;
  }
  .header-right img {
    width: 98%;
    margin: auto;
  }
  .header-left {
    text-align: center;
  }
  .header-container p {
    width: 100%;
  }
  .header-action-aria {
    margin: auto;
    justify-content: center;
  }
  /*.........About Start......... */
  .about-container p {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  .about-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .about-content img {
    width: 50px;
  }
  /*.........Services Start......... */
  .services-container {
    margin-top: 40px;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  /*.........Skills Start......... */
  .skills-container {
    margin-top: 40px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 24px;
  }
  /*.........Contact Start......... */
  .contatact-container {
    margin-top: 40px;
  }
  form {
    width: 100%;
  }
  .form-top {
    gap: 10px;
    grid-template-columns: 1fr;
  }
  /*.........footer Start......... */

  footer {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}
/* ....................End Media Scrin...................... */
